main{
	display: flex;
	justify-content: space-around;
	flex-flow: row;
}

main section{
	width: 30%;
	background: white;
	border: solid 1px black;
}

@media only screen and (max-width:550px){
	main{
		flex-flow: column;
	}
	main section{
		width: 100%;
	}
}